doctype html
html(lang="zh")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 随机图片
    style
      include image.css
  body
    .container
      figure
        figcaption 
          p
            a(href=`${href}`) #{alt}
        img(src=`${src}` width=`${width}` height=`${height}` alt=`${alt}`)
        if author
          figcaption
            p #{author}
              if LicenseShortName
                span , 
                if LicenseUrl
                  a(href=`${LicenseUrl}`) #{LicenseShortName}
                else
                  span #{LicenseShortName}
      p
        a(href="/") 换一张
      include foot.pug
